---
import MenuDesktop from "./MenuDesktop.astro";
import MenuMobile from "./MenuMobile";
import HeaderScrollBg from "./HeaderScrollBg";
---

<HeaderScrollBg client:only="react">
  <div class="container mx-auto px-4 flex justify-between h-full items-center">
    <span class="font-bold! text-4xl text-white!">MKS</span>
    <MenuDesktop />
    <MenuMobile client:only="react" />
  </div>
</HeaderScrollBg>