---
import MisionVision from "./MisionVision.astro";
---

<section class="container mx-auto my-16 p-4 flex flex-col" id="nosotros">
    <h2 class="text-4xl md:text-6xl  mb-2">Sobre nosotros</h2>
    <div class="flex flex-col gap-2 xl:w-4/6">
        <p class="text-pretty"><span class="font-semibold!">MELKUPS</span> es un emprendimiento de pastelería moderna nacido en Quilmes, que reinventa los postres tradicionales con una propuesta práctica, artesanal y visualmente atractiva: postres servidos en vaso. Cada producto combina capas de texturas irresistibles, sabores caseros y una presentación cuidada que transforma lo cotidiano en una experiencia especial.
        </p>
        <p class=" text-pretty">El proyecto surge como respuesta a la demanda local de postres listos para consumir, que sean prácticos pero mantengan la calidad casera. Nuestros productos están pensados tanto para consumo personal como para regalar, utilizar en eventos (cumpleaños, reuniones, baby showers), o como opción de venta para negocios y emprendedores gastronómicos. También trabajamos con empresas que desean ofrecer un detalle dulce a sus empleados o clientes.
        </p>
        <p class=" text-pretty">Además, apostamos a una producción responsable y sustentable: utilizamos envases reciclables, evitamos el uso de conservantes y compramos insumos a proveedores regionales, apoyando las economías locales.</p>
    </div>
</section>