---
import MisionVision from "./MisionVision.astro";
---

<section class="container mx-auto my-16 p-4 flex flex-col" id="nosotros">
    <h2 class="text-4xl md:text-6xl font-semibol! mb-2">Sobre nosotros</h2>
    <div class="flex flex-col gap-2">
        <p class="xl:w-4/6 text-xl text-pretty">En <span class="lora font-bold!">Melkups</span> transformamos la pastelería tradicional en una experiencia moderna, práctica y deliciosa. Nos especializamos en crear postres artesanales servidos en vasos, combinando sabores únicos, texturas irresistibles y una presentación que enamora a primera vista.
        </p>
        <p class="xl:w-4/6 text-xl text-pretty">Nacimos con la idea de reinventar la forma de disfrutar un buen postre: sin complicaciones, con calidad casera y estética cuidada. Cada vaso cuenta una historia de sabor, hecho con ingredientes frescos y mucho amor por lo que hacemos.
        </p>

    </div>
    <MisionVision />
</section>