---
 const img = [
 {
        url: "./galletita.jpg",
        name: "Galletitas trituradas"
},
{
        url: "./quesoCrema.jpg",
        name: "Queso crema"
},
{
        url: "./ddl.jpg",
        name: "Dulce de leche"
},
 ]
---



<div class="flex flex-col" id="mPrima">
    <h2 class="container p-4 text-4xl md:text-6xl mx-auto mb-2 xl:mb-2">Materia prima</h2>
    <div class="grid grid-cols-auto md:grid-cols-3 container p-4 mx-auto gap-4">
        {img.map((foto) => (
            <div class="flex flex-col">
            <img src={foto.url} alt="Postre" class="w-full h-42 md:h-64 object-cover rounded-xl" />
            <p class="mt-2 text-2xl cursiva">{foto.name}</p>
            </div>
        ))}
    </div>
</div>