---
import { AiOutlineEye } from "react-icons/ai";
import { IoFlagOutline } from "react-icons/io5";
---

<div class="grid grid-cols-1 gap-12 xl:grid-cols-2 container mx-auto my-12">
    <div class="flex flex-col">
        <span class="text-3xl mb-5 p-2 border-2 w-fit rounded-full">
            <AiOutlineEye/>
        </span>
        <h3 class="lora text-2xl md:text-4xl mb-2">Misión</h3>
        <p class="text-xl">En <span class="lora font-bold! uppercase">Melkups</span> buscamos transformar lo cotidiano en un momento especial a través de postres artesanales en vasos. Nos comprometemos a ofrecer productos de alta calidad, prácticos y deliciosos, elaborados con ingredientes frescos y pasión por la pastelería, para brindar una experiencia única en cada cucharada.</p>
    </div>
    <div class="flex flex-col">
        <span class="text-3xl mb-5 p-2 border-2 w-fit rounded-full">
            <IoFlagOutline/>
        </span>
        </>
        <h3 class="lora text-2xl md:text-4xl mb-2">Visión</h3>
        <p class="text-xl">Ser reconocidos como una marca referente en pastelería moderna en Quilmes, destacándonos por nuestra innovación, estética y compromiso con la excelencia en cada creación. Queremos llevar la experiencia <span class="lora font-bold! uppercase">Melkups</span> a todos los rincones, demostrando que lo pequeño también puede ser extraordinario.</p>
    </div>
   

</div>