---
 const img = [
 {
        url: "./batidora.jpeg"
},
{
        url: "./batidora2.jpeg"
},
{
        url: "./cereza.jpeg"
},
{
        url: "./chocotorta.jpeg"
},
{
        url: "./chocotorta2.jpeg"
},
{
        url: "./postrePlano.jpg"
},
 ]
---



<div class="flex flex-col" id="productos">
    <h2 class="container p-4 text-4xl md:text-6xl mx-auto mb-2 xl:mb-2">Nuestros productos</h2>
    <div class="grid grid-cols-2 xl:grid-cols-3 container p-4 mx-auto gap-4">
        {img.map((foto) => (
            <img src={foto.url} alt="Postre" class="w-full h-42 md:h-96 object-cover rounded-xl" />
        ))}
    </div>
</div>