<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="generator" content={Astro.generator} />
    <title>Melkups</title>
    <link rel="stylesheet" href="/src/styles/global.css" onload="document.body.style.opacity='1'" />
    <style>body{opacity:0;transition:opacity .2s}</style>
  </head>
  <body>
    <slot />
  </body>
</html>